$page-header-bg: #fff;
$top-menu-link-color: #000;
$reasons-font-color: #333;
$features-container-bg-color: #81b3d2;
$features-small-container-bg-color: #eee;
$hotel-search-bg-color: #766357;
$page-footer-bg-color: rgba(255,255,255,.9);
$hotel-search-form-input-color: #f2f2f2;
$line-height-small: 1.5em;

body {
	height: 2765px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.86em;
	text-transform: uppercase;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.page-header {
	height: 56px;
	background-color: $page-header-bg;
}

.top-menu {
	position: relative;
	margin: 0;
	list-style: none;
	&__item {
		display: inline-block;
		margin-right: 115px;
		padding: 15px;
		font-weight: bold;
		vertical-align: top;
		&:last-child {
			margin-right: 0;
		}
		&-link {
			color: $top-menu-link-color;
			text-decoration: none;
		}
	}
	&__logo-link {
		display: inline-block;
		margin-top: -15px;
		padding-bottom: -40px;
	}
}

.welcome {
	position: relative;
	z-index: -1;
	width: 100%;
	height: 700px;
	padding-top: 20px;
	background: $page-header-bg url("../img/bg-welcome.jpg") no-repeat 0 -56px;
	&__img {
		display: block;
		margin: 0 auto;
		padding-top: 60px;
	}
	&__text {
		margin: 0;
		margin-top: 90px;
		padding: 0;
		font-size: 7em;
		font-weight: 700;
		color: $page-header-bg;
		text-align: center;
		letter-spacing: .2em;
	}
	&__info {
		width: 500px;
		margin: 0 auto;
		margin-top: 30px;
		font-size: 1.5em;
		text-align: center;
	}
	&__reasons {
		margin-top: 40px;
		color: $reasons-font-color;
		text-align: center;
	}
	&-container {
		position: relative;
		width: 100%;
		height: 200px;
		margin-top: 85px;
		padding-top: 10px;
		background-color: #fff;
		&:before {
			position: absolute;
			top: -57px;
			left: 0;
			width: 100%;
			height: 70px;
			background: url("../img/bg-welcome-mask.png") no-repeat 0 0;
			content: "";
		}
	}
}

.features {
	height: 1090px;
	background-color: $page-header-bg;
	&-item {
		height: 255px;
		&-container {
			float: left;
			width: 280px;
			padding: 49px 60px;
			color: $page-header-bg;
			text-align: center;
			background-color: $features-container-bg-color;
		}
		&__title {
			width: 160px;
			margin: 0 auto;
			padding: 0;
			font-size: 1.5em;
			font-weight: bold;
			text-align: center;
		}
		&__number {
			line-height: $line-height-small;
		}
		&__description {
			line-height: $line-height-small;
		}
		&--image-left {
			.features-item-container {
				float: right;
			}
		}
		&-small-container {
			max-height: 255px;
			padding: 25px;
			background-color: $features-small-container-bg-color;
		}
		&-small {
			display: inline-block;
			padding: 40px;
			text-align: center;
			vertical-align: top;
			&:nth-child(2) {
				margin: 0 30px;
			}
			&__title {
				width: 160px;
				margin: 0 auto;
				padding: 0;
				font-size: 1.5em;
				font-weight: bold;
				text-align: center;
			}
			&__number {
				line-height: $line-height-small;
			}
			&__description {
				width: 280px;
				line-height: $line-height-small;
			}
		}
	}
}

.advantages {
	height: 260px;
	margin: 20px 0;
	&__item {
		display: inline-block;
		width: 33.3333%;
		min-height: 200px;
		margin: -2px;
		padding: 30px 0;
		text-align: center;
		vertical-align: middle;
		background-color: $page-header-bg;
		&-title {
			font-size: 1.5em;
			font-weight: bold;
		}
		&-description {
			width: 290px;
			margin: 0 auto;
			line-height: $line-height-small;
			text-align: center;
		}
	}
}

.visit-us {
	z-index: 1;
	width: 100%;
	height: 815px;
	margin-left: -40px;
	padding: 40px;
	background: url("../img/bg-visit-us-map.jpg") no-repeat 40px 280px;
	&__title {
		font-size: 2.14em;
		font-weight: bold;
		text-align: center;
	}
	&__info {
		width: 400px;
		margin: 0 auto;
		line-height: 24px;
		text-align: center;
	}
}

.hotel-search {
	height: 595px;
	margin-top: 50px;
	&__header {
		width: 500px;
		height: 60px;
		margin: 0 auto;
		padding: 10px 20px;
		font-size: 1.5em;
		font-weight: bold;
		color: $page-header-bg;
		text-align: center;
		background-color: $hotel-search-bg-color;
	}
	&__form {
		width: 440px;
		height: 280px;
		margin: 0 auto;
		padding: 50px;
		background-color: $page-header-bg;
		box-shadow: 1px 1px 2px $reasons-font-color;
		&-field {
			margin-bottom: 40px;
			&-label {
				padding: 15px;
				font-weight: bold;
			}
			&-input {
				position: relative;
				height: 38px;
				font-size: 1em;
				font-weight: bold;
				text-align: center;
				background-color: $hotel-search-form-input-color;
				border: none;
				&--date {
					float: right;
					width: 290px;
					padding: 0 10px;
					text-align: left;
					&:after {
						position: absolute;
						top: 10px;
						right: 3%;
						width: 22px;
						height: 20px;
						background: url("../img/icon-hotel-search-form-calendar.png") no-repeat 0 0;
						content: "";
						transform: rotate(-90deg);
					}
				}
				&--number {
					width: 100px;
					margin-left: 5px;
				}
			}
			&:nth-child(3) {
				label {
					&:first-child {
						margin-right: 18px;
					}
					&:nth-child(3) {
						margin-right: 5px;
					}
				}
				input {
					position: relative;
					padding-left: 11px;
					&:after {
						position: absolute;
						top: 10px;
						right: 3%;
						width: 22px;
						height: 20px;
						background: url("../img/icon-hotel-search-form-minus.png") no-repeat 0 0;
						content: "";
						transform: rotate(-90deg);
					}
				}
			}
		}
		&-submit {
			width: 440px;
			height: 60px;
			font-size: 1.5em;
			font-weight: bold;
			color: $page-header-bg;
			text-transform: uppercase;
			background-color: $features-container-bg-color;
			border: 0;
		}
	}
}

.page-footer {
	width: 1160px;
	height: 40px;
	margin-top: -50px;
	padding: 45px 20px;
	background-color: $page-footer-bg-color;
	.twitter-tag {
		display: inline-block;
		width: 15%;
		margin-left: 120px;
		font-size: 1.5em;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}
	.social-icons {
		display: inline-block;
		width: 150px;
		margin-left: 210px;
		vertical-align: middle;
		&__item-link-img {
			display: inline-block;
			width: 45px;
			height: 45px;
			vertical-align: bottom;
			background: $features-container-bg-color url("../img/spr-social-icons.png") no-repeat 15px 50%;
			&--fb {
				background-position: -40px 50%;
			}
			&--yt {
				background-position: -91px 50%;
			}
		}
	}
	.copyright {
		display: inline-block;
		width: 18%;
		margin-left: 220px;
		vertical-align: middle;
		&__by-img {
			display: inline-block;
			width: 30px;
			height: 32px;
			margin-top: 15px;
			vertical-align: bottom;
			background: url("../img/spr-copyright-icons.png") no-repeat 0 0;
		}
		&__for-img {
			background-position: -75px 0;
			@extend .copyright__by-img;
		}
	}
}
