@import "_reset.scss";
@import "_normalize.scss";


$page-header-bg: #fff;
$top-menu-link-color: #000;
$reasons-font-color: #333;
$features-container-bg-color: #81b3d2;
$features-small-container-bg-color: #eee;
$hotel-search-bg-color: #766357;
$page-footer-bg-color: rgba(255,255,255,.9);
$hotel-search-form-input-color: #f2f2f2;
$line-height-small: 1.5em;

body {
	height: 2765px;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.86em;
	text-transform: uppercase;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.page-header {
	height: 56px;
	background-color: $page-header-bg;
}

.top-menu {
	font-size: 0;
	position: relative;
	list-style: none;
	min-height: 50px;
	padding: 1.3% 0;
	&__item {
		font-size: 14px;
		display: inline-block;
		width: 20%;
		box-sizing: border-box;
		margin: 0;
		font-weight: bold;
		vertical-align: bottom;
		text-align: center;
		&-link {
			color: $top-menu-link-color;
			text-decoration: none;
		}
	}
	&__logo-link {
		position: absolute;
		top: 0;
		left: 44.2%;
	}
}

.welcome {
	position: relative;
	z-index: -1;
	max-width: 100%;
	background: $page-header-bg url("../img/bg-welcome.jpg") no-repeat 50% -56px;
	&__img {
		display: block;
		margin: 0 auto;
		padding-top: 60px;
	}
	&__info {
		width: 500px;
		margin: 0 auto;
		padding: 2% 0;
		font-size: 1.5em;
		text-align: center;
	}
	&__reasons {
		padding: 1%;
		color: $reasons-font-color;
		text-align: center;
	}
	&-container {
		position: relative;
		max-width: 100%;
		min-height: 200px;
		margin-top: 85px;
		padding-top: 10px;
		background-color: #fff;
		&:before {
			position: absolute;
			top: -56px;
			left: 0;
			height: 65px;
			background: url("../img/bg-welcome-mask.png") no-repeat 0 0;
			min-width: 100%;
			content: "";
		}
	}
}

.features {
	background-color: $page-header-bg;
	&-item {
		min-height: 256px;
		&-container {
			min-height: 256px;
			float: left;
			width: 33%;
			padding: 4% 5%;
			color: $page-header-bg;
			text-align: center;
			background-color: $features-container-bg-color;
			box-sizing: border-box;
		}
		&__title {
			width: 152px;
			margin: 0 auto;
			padding: 2%;
			font-size: 1.5em;
			font-weight: bold;
			text-align: center;
		}
		&__number {
			line-height: $line-height-small;
			padding: 3%;
		}
		&__description {
			line-height: $line-height-small;
			padding: 3% 8%;
		}
		&__img {
			&-container {
				float: right;
				width: 67%;
			}
			width: 100%;
			box-sizing: border-box;
		}
		&--image-left {
			.features-item-container {
				float: right;
			}
		}
		&-small-container {
			background-color: $features-small-container-bg-color;
			font-size: 0;
			min-height: 250px;
			margin: 0;
		}
		&-small {
			min-height: 250px;
			padding: 3%;
			width: 33.333%;
			display: inline-block;
			font-size: 14px;
			text-align: center;
			vertical-align: middle;
			box-sizing: border-box;
			&__title {
				max-width: 45%;
				margin: 0 auto;
				padding: 2%;
				font-size: 1.5em;
				font-weight: bold;
				text-align: center;
			}
			&__number {
				line-height: $line-height-small;
				padding: 3%;
			}
			&__description {
				padding: 3%;
				line-height: $line-height-small;
				max-width: 100%;
			}
		}
	}
}

.advantages {
	height: 265px;
	margin: 35px 0;
	&__item {
		display: inline-block;
		width: 33.3333%;
		min-height: 200px;
		margin: -2px;
		padding: 30px 0;
		text-align: center;
		vertical-align: middle;
		background-color: $page-header-bg;
		&-title {
			font-size: 1.5em;
			font-weight: bold;
			padding: 4%;
		}
		&-description {
			max-width: 80%;
			margin: 0 auto;
			line-height: $line-height-small;
			text-align: center;
		}
	}
}

.visit-us {
	padding: 3%;
	padding-bottom: 10%;
	&__title {
		font-size: 2.14em;
		font-weight: bold;
		text-align: center;
		padding: 2%;
	}
	&__info {
		width: 45%;
		margin: 0 auto;
		padding: 0 3%;
		line-height: 24px;
		text-align: center;
	}
}

.hotel-search {
	position: absolute;
	top: -122px;
	left: 1%;
	width: 100%;
	height: 100%;
	margin-top: 48px;
	&-container {
		position: relative;
		width: 100%;
		height: 600px;
		background: url("../img/bg-visit-us-map.jpg") no-repeat 50% 50%;
	}
	&__header {
		width: 44%;
		height: 60px;
		margin: 0 auto;
		padding: 1% 1.7%;
		font-size: 1.5em;
		font-weight: bold;
		color: $page-header-bg;
		text-align: center;
		background-color: $hotel-search-bg-color;
		&-title {
			padding: 4%;
		}
	}
	&__form {
		max-width: 37.3%;
		height: 46%;
		margin: 0 auto;
		padding: 5%;
		background-color: $page-header-bg;
		box-shadow: 1px 1px 1px $reasons-font-color;
		&-field {
			max-width: 100%;
			margin-bottom: 40px;
			&-label {
				padding: 3%;
				font-weight: bold;
			}
			&-input {
				width: 60%;
				position: relative;
				height: 38px;
				font-size: 1em;
				font-weight: bold;
				text-align: center;
				background-color: $hotel-search-form-input-color;
				border: none;
				&--date {
					float: right;
					width: 66%;
					padding: 0 1%;
					text-align: left;
					&:after {
						position: absolute;
						top: 10px;
						right: 3%;
						width: 22px;
						height: 20px;
						background: url("../img/icon-hotel-search-form-calendar.png") no-repeat 0 0;
						content: "";
						transform: rotate(-90deg);
					}
				}
				&--number {
					width: 31%;
					height: 35px;
					&-container {
						display: inline-block;
						width: 24.3%;
						margin-left: 10px;
						&-minus {
							float: left;
							width: 11px;
							height: 11px;
							padding: 21% 9.4% 2.5%;
							background: $hotel-search-form-input-color url("../img/icon-hotel-search-form-minus.png") 50% 50% no-repeat;
						}
						&-plus {
							float: right;
							width: 11px;
							height: 11px;
							padding: 21% 9.4% 2.5%;
							background: $hotel-search-form-input-color url("../img/icon-hotel-search-form-plus.png") 50% 50% no-repeat;
						}
					}
				}
			}
			&:nth-child(3) {
				label {
					&:first-child {
						margin-right: 30px;
					}
					&:nth-child(3) {
						margin-right: 5px;
					}
				}
				input {
					padding-left: 10%;
				}
			}
		}
		&-submit {
			width: 100%;
			height: 22%;
			font-size: 1.5em;
			font-weight: bold;
			color: $page-header-bg;
			text-transform: uppercase;
			background-color: $features-container-bg-color;
			border: 0;
		}
	}
}

.page-footer {
	font-size: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	min-width: 650px;
	width: 100%;
	box-sizing: border-box;
	padding: 3% 2%;
	background-color: $page-footer-bg-color;
	.twitter-tag {
		font-size: 21px;
		display: inline-block;
		width: 33%;
		font-weight: bold;
		text-align: center;
		vertical-align: bottom;
	}
	.social-icons {
		font-size: 14px;
		display: inline-block;
		width: 33%;
		text-align: center;
		vertical-align: bottom;
		&__item-link-img {
			display: inline-block;
			width: 45px;
			height: 45px;
			vertical-align: bottom;
			background: $features-container-bg-color url("../img/spr-social-icons.png") no-repeat 15px 50%;
			&--fb {
				background-position: -40px 50%;
			}
			&--yt {
				background-position: -91px 50%;
			}
		}
	}
	.copyright {
		font-size: 14px;
		display: inline-block;
		min-width: 190px;
		width: 33%;
		text-align: center;
		vertical-align: middle;
		&__by-img {
			display: inline-block;
			width: 30px;
			height: 32px;
			margin-top: 15px;
			vertical-align: bottom;
			background: url("../img/spr-copyright-icons.png") no-repeat 0 0;
		}
		&__for-img {
			background-position: -75px 0;

			@extend .copyright__by-img;
		}
	}
}
